body {
    background-color: rgb(195, 0, 0);
    color: black;
}

.dia {
    color: rgb(33, 33, 33);
}

a {
    color:black;
    text-decoration: underline;
}

a:hover  {
    color:rgb(33, 33, 33);
}

#menu-item-saves {
    display:none;
}

#ui-bar-history {
    display:none;
}

#title {
    color:rgb(195, 0, 0);  
}

.link-visited {
    color: rgb(255, 120, 120);
    text-decoration: none;
 } 